<article class="card post">
  {{#if photo}}
    <div class="post-main-img-container">
      <img
        class="post-main-img"
        alt=""
        src="{{photo}}-800px.jpg"
        srcset="{{photo}}-1024px.jpg 1024w,
                {{photo}}-800px.jpg 800w,
                {{photo}}-640px.jpg 640w,
                {{photo}}-320px.jpg 320w"
        sizes="(min-width: 800px) 765px,
               (min-width: 600px) calc(100vw - 32px),
               calc(100vw - 16px)"  
      >
    </div>
  {{/if}}
  <div class="post-content">
    <img
      class="post-avatar"
      alt=""
      width="40" height="40"
      src="{{avatar}}-1x.jpg"
      srcset="{{avatar}}-2x.jpg 2x,
              {{avatar}}-3x.jpg 3x"
    >
    <div class="post-text-content">
      <div class="post-title">
        <h1 class="post-heading">{{name}}</h1>
        <time class="post-time" datetime="{{time}}"></time>
      </div>
      <p>
        {{body}}
      </p>
    </div>
  </div>
</article>