<article class="card post">
  {{#if mainImg}}
    <div class="post-main-img-container">
      <img
        class="post-main-img"
        alt=""
        src="/photos/{{mainImg.farm}}-{{mainImg.server}}-{{mainImg.id}}-{{mainImg.secret}}-800px.jpg"
        srcset="/photos/{{mainImg.farm}}-{{mainImg.server}}-{{mainImg.id}}-{{mainImg.secret}}-1024px.jpg 1024w,
                /photos/{{mainImg.farm}}-{{mainImg.server}}-{{mainImg.id}}-{{mainImg.secret}}-800px.jpg 800w,
                /photos/{{mainImg.farm}}-{{mainImg.server}}-{{mainImg.id}}-{{mainImg.secret}}-640px.jpg 640w,
                /photos/{{mainImg.farm}}-{{mainImg.server}}-{{mainImg.id}}-{{mainImg.secret}}-320px.jpg 320w"
        sizes="(min-width: 800px) 765px,
               (min-width: 600px) calc(100vw - 32px),
               calc(100vw - 16px)"  
      >
    </div>
  {{/if}}
  <div class="post-content">
    <img
      class="post-avatar"
      alt=""
      width="40" height="40"
      src="/avatars/{{avatar}}-1x.jpg"
      srcset="/avatars/{{avatar}}-2x.jpg 2x,
              /avatars/{{avatar}}-3x.jpg 3x"
    >
    <div class="post-text-content">
      <div class="post-title">
        <h1 class="post-heading">{{name}}</h1>
        <time class="post-time" datetime="{{time}}"></time>
      </div>
      <p>
        {{body}}
      </p>
    </div>
  </div>
</article>